.card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 4px;
  height: 200px;
  width: 200px;
  gap: 4px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.searchContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.searchInput {
  width: 300px;
  padding: 8px 12px;
  font-size: 16px;
}
